@charset "utf-8";

.footer {
  .section-inside {
    padding: 80px 20px;
    background-color: #392529;
  }
  &-title {
    margin-bottom: 58px;
    line-height: 0;
    text-align: center;
  }
  &-credit {
    margin-bottom: 44px;
    line-height: 0;
    text-align: center;
  }
  &-link {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    line-height: 0;
    li:nth-child(n + 2) {
      margin-left: 40px;
    }
  }
  &-copyright {
    line-height: 0;
    text-align: center;
  }
}
