@charset "utf-8";

.intro {
  .section-inside {
    padding: 253px 0 425px;
    background-image: url(#{$image-abobo}/intro/bg_top.png), url(#{$image-abobo}/intro/bg_bottom.png), url(#{$image-abobo}/common/bg_sky.jpg);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: center top, center bottom, center top;
  }
  &-body {
    position: relative;
    z-index: 1;
  }
  &-title {
    position: relative;
    margin-bottom: 43px;
    text-align: center;
  }
  &-copy {
    position: relative;
    left: -6px;
    margin-bottom: 38px;
    text-align: center;
  }
  &-text {
    padding: 0 70px;
    font-size: 24px;
    line-height: 2;
  }
  &-earth {
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left: -732px;
    animation: 60s linear 0s infinite rotation;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}