@charset "utf-8";

.modal {
  width: 640px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  display: none;
  opacity: 0;
  margin-left: -320px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(#000, 0.9);
  cursor: pointer;
  &-inside {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    pointer-events: none;
  }
  &-contents {
    width: 100%;
    position: relative;
    pointer-events: auto;
    padding: 0 10px;
    cursor: auto;
  }
  &-close {
    position: absolute;
    bottom: 100%;
    right: 40px;
    cursor: pointer;
  }
  &-body {
    display: none;
  }
  &-text {
    margin-bottom: 64px;
    font-size: 26px;
    line-height: 2;
    text-align: center;
  }
  &-play {
    &-title {
      margin-bottom: -8px;
      line-height: 0;
      text-align: center;
    }
    &-shop {
      width: 560px;
      margin: 0 auto;
      &-title {
        margin-bottom: 60px;
        text-align: center;
      }
      &-item {
        &:nth-child(n + 2) {
          margin-top: 40px;
        }
      }
      &-thumb {
        margin-bottom: 20px;
        border: 10px solid $color-black;
      }
      &-label {
        margin-bottom: 15px;
        text-align: center;
        font-size: 30px;
        line-height: 1.8;
      }
      &-link {
        display: flex;
        justify-content: center;
        li {
          line-height: 0;
          &:nth-child(even) {
            margin-left: 20px;
          }
          &:nth-child(n + 3) {
            margin-top: 20px;
          }
        }
      }
    }
  }
  &-buy {
    &-title {
      margin-bottom: 3px;
      line-height: 0;
      text-align: center;
    }
    &-text {
      margin-bottom: 50px;
      font-size: 26px;
      line-height: 2;
      text-align: center;
    }
    &-button {
      text-align: center;
    }
  }
}
